
@import "~bootstrap/scss/bootstrap.scss";
// @import "../bootstrap/scss/bootstrap";
// Override anchor tag properties
a {
  color: #3BB77E;
  text-decoration: none;
    &:hover {
      --link-color-rgb: var(--link-hover-color-rgb);
      text-decoration: none;
    }
  }
  ul {
    padding: 0 ;
}
.btn ,.button{
  font-size: 14px;
  font-weight: 700;
  padding: 12px 30px;
  border-radius: 4px;
  color: #fff;
  border: 1px solid transparent;
  background-color: #3BB77E;
  cursor: pointer;
}
.nav , .nav-tabs , .nav-tabs .nav-link, .nav-tabs .nav-link ,.nav-link:hover, .nav-tabs .nav-link:focus {
  border: 0;
}
.btn:hover, .button:hover {
    background-color: #FDC040;
}
.btn:hover {
    color: #fff;

  }
.nav-tabs {
    border: 0;
    margin-bottom: 4px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  // font-size: 100%;
  // font: inherit;
  // vertical-align: baseline;
}